.result {
    height: 300px;
}

.resultLetter {
    background-color: rgb(180, 180, 180);
    margin: 40px;
    height: 200px;
    width: 70%;
    border-radius: 7px;
    border-color: black;
    border-style: groove;
    border: 10px;
}

.gameContent {
    border-radius: 10px;
    border-color: #7aa74d;
    border-style: groove;
    width: 800px;
    box-shadow: 2px 2px #7aa74d;
    /* background-color: rgba(135, 161, 106, 0.927); */
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgImage {
    background-image: url('../../assets/images/jacare-removebg.png');
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 300px;
    width: 85%;
    margin-left: 88%;
}

.phrase {
    text-align: start;
    width: 100%;
    height: 50px;
    align-content: center;
}

.letters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 3fr));
    gap: 10px;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border: 20px;
}

.letterInDroppable{
    background-color: rgb(201, 201, 201);
    color: rgb(80, 117, 43);
    width: 50px;
    height: 50px;
    border-radius: 7px;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
}

.dropaArea{
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 3fr));
    gap: 10px;
}