.bodyCad {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do formulário */
.form-container {
    width: 100%;
    max-width: 600px; /* Aumentar o tamanho máximo do container */
    background-color: #e2e4ebfd; /* Cor de fundo do container */
    padding: 40px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas mais retangulares */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.60); /* Sombra sutil */
    text-align:inherit;
}

/* Título do formulário */
h1 {
    background-image: url("img/cadastro.png");
    background-size: contain; /* Mantém a proporção da imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; 
    height: 60px; /* Ajuste conforme necessário */
    margin: 20px 0; /* Margem superior e inferior */
}

/* Estilos do formulário */
.formCad {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Alinha os inputs à largura do container */
}

.full-box {
    margin-bottom: 15px; /* Aumenta a margem entre os campos */
}

.labelCad {
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 0.1cm; 
    text-align: left; /* Alinhar o texto à esquerda */
    width: 150px; /* Ajustar a largura conforme necessário */
}

.inputCad {
    padding: 10px; /* Inputs maiores */
    font-size: 1rem;
    border: 5px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%; /* Faz os inputs ocuparem toda a largura do container */
}

input:focus {
    border-color: #e60000;
}

input[type="submit"] {
    background-color: #e60000;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px; /* Aumenta a altura do botão */
    width: 40%; /* Define a largura como 50% */
    cursor: pointer;
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    padding: 10px;
    display: block; /* Garante que o botão se comporte como um bloco */
    margin: 20px auto; /* Centraliza o botão horizontalmente */
}


input[type="submit"]:hover {
    background-color: #770c0c;
}

p {
    margin-top: 10px; /* Margem superior para separar os parágrafos de outros elementos */
    text-align: center; /* Alinha o texto do parágrafo ao centro */
}

a {
    color: #e60000; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    text-align: center; /* Alinha o texto do link ao centro */
    
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre o link */
}
