  .bodyLogin {
      padding-top: 10vh;
      background-color: #f0f0f0;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

  .pcls {
      margin-top: 9%;
  }

  /* Tela de Login */
  #login-container {
      width: 100%;
      max-width: 500px;
      /* Aumentar o tamanho da div para 500px */
      background-color: #e2e4ebfd;
      padding: 40px;
      /* Aumentar o padding */
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.60);
      text-align: center;

  }

  #login-container h1 {
      background-image: url("../../assets/images/LOGO.png");
      background-size: contain;
      /* Mantém a proporção da imagem */
      background-repeat: no-repeat;
      /* Evita que a imagem se repita */
      background-position: center;
      height: 60px;
      /* Ajuste conforme necessário */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
  }


  form {
      display: flex;
      flex-direction: column;
  }

  .full-box {
      margin-bottom: 5px;
  }

  label {
      font-weight: bold;
      font-size: 0.9rem;
      margin-bottom: 5px;
  }

  input[type="email"],
  input[type="password"] {
      padding: 10px;
      /* Inputs maiores */
      font-size: 1rem;
      border: 3px solid #ddd;
      border-radius: 10px;
      margin-bottom: 10px;
  }

  input:focus {
      border-color: #e60000;
  }

  form {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Centraliza os elementos do formulário, incluindo o botão */
  }

  input[type="submit"] {
      background-color: #e60000;
      color: #fff;
      border: none;
      border-radius: 20px;
      height: 35px;
      /* Diminuir a altura do botão */
      width: 150px;
      /* Definir uma largura fixa */
      cursor: pointer;
      font-size: 0.9rem;
      /* Reduzir o tamanho da fonte */
      padding: 10px 10px;
      /* Ajustar o padding para reduzir o tamanho geral */
  }

  input[type="submit"]:hover {
      background-color: #770c0c;
  }

  p {
      margin-top: 15px;
  }

  a {
      color: #e60000;
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }