/* Container styles */
.container {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust as needed */
    border: 1px solid #ccc;
    overflow: hidden; /* Ensures content stays within the container */
  }
  
  /* Movable div styles */
  .movable-div {
    position: absolute;
    top: 100px; /* Initial position */
    left: 100px; /* Initial position */
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    cursor: pointer;
  }
  

  .ever{
    background-color: #000;
  }