/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
}

body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

/* Container do perfil */
.profile-container {
    margin-inline: auto;
    width: min(900px, 95%);
    padding: 2em; /* Espaçamento interno */
    border-radius: 1em; /* Bordas mais retangulares */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.60); /* Sombra sutil */
}

.profile-info {
    display: flex;
    gap: 2em;
}

/* Título do perfil */
h1 {
    background-image: url("../img/pi_LOGO.png"); /* Ajuste conforme necessário */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-bottom: 20px; /* Margem inferior */
    padding: 20px 0; /* Espaçamento acima e abaixo do texto */
    height: 60px; /* Altura do título */
}

/* Foto do perfil */
.profile-picture {
}

.profile-picture img {
    width: 150px; /* Largura da imagem */
    height: 150px; /* Altura da imagem */
    border-radius: 50%; /* Forma redonda */
    border: 2px solid #ddd; /* Borda da imagem */
}

/* Informações do usuário */
.user-info {
    flex-grow: 1;
    margin-bottom: 20px; /* Margem inferior */
}

label {
    font-weight: bold; /* Negrito para os rótulos */
    display: block; /* Faz com que o label ocupe a largura total */
    margin: 5px 0; /* Margens para os rótulos */
}

p {
    margin-bottom: 15px; /* Margem inferior entre os parágrafos */
}

/* Botão de editar */
input[type="button"] {
    background-color: #e60000;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px; /* Aumenta a altura do botão */
    width: 100%; /* O botão ocupa toda a largura do container */
    max-width: 200px;
    cursor: pointer;
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    padding: 10px; /* Mantém o padding */
    display: block; /* Garante que o botão se comporte como um bloco */
    margin: 20px 0; /* Margens superior e inferior */
}

input[type="button"]:hover {
    background-color: #770c0c; /* Cor ao passar o mouse */
}

/* Ações recentes */
.recent-actions {
    margin-top: 20px; /* Margem superior */
}

.recent-actions h2 {
    margin-bottom: 10px; /* Margem inferior */
}

.recent-actions ul {
    list-style: none; /* Remove os marcadores da lista */
    padding-left: 0; /* Remove o padding à esquerda */
}

.recent-actions li {
    margin-bottom: 10px; /* Margem entre os itens da lista */
}
