.resultLetter {
  z-index: 1;
  position: relative;
  background-color: var(--clr-neutral-200);
  min-height: 300px;
  width: 70%;
  border-radius: 1em;
  border: 1px solid var(--clr-primary-600);
}

.bodyGame {
  font-family: "Comic Neue";
  color: var(--clr-neutral-500);

  height: 100%;
  width: 100%;
  background-color: var(--clr-neutral-100);
}

.game {
  display: grid;
}

.gameContent {
  place-self: center;
  background-color: var(--clr-primary-800);
  width: min(800px, 100%);
  border-radius: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  padding: 2em;
}

.result {
  height: 300px;
}

.phrase {
  width: 100%;
  height: 100px;
}

.dropaArea {
  min-height: 50px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  gap: 10px;
}

.letterInDroppable {
  background-color: #93d6a2;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 7px;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
}

.vogaisHeading {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}

.vogaisParagraph {
  font-size: var(--fs-700);
}

.bgImage {
  position: absolute;
  object-fit: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 290px;
  translate: 440px -270px;
}

@media screen and (max-width: 800px) {
  .bgImage {
    display: none;
  }

  .resultLetter {
    width: auto;
  }
}
