.letters {
    font-weight: var(--fw-bold);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 3fr));
    gap: 30px;
    margin: auto;
    margin-top: 4em;
    width: 95%;
}

.letter {
    z-index: 2;
    background-color: var(--clr-neutral-200);
    color: rgb(62, 85, 39);
    width: 50px;
    height: 50px;
    border-radius: 7px;
    text-align: center;
    align-content: center;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        background-color: var(--clr-neutral-400);
        border-radius: 7px;
    }

    &:focus-within {
        cursor: move;
    }
}

.letter:hover,
.letter:active,
.letter:focus {
    /* Ensure no size-related properties are being changed here */
    transform: none;
    /* Or remove scaling transform if it's being applied */
}

.letterInDroppable {
    width: '50px';
    height: '50px';
    display: 'flex';
    color: 'white';
}

#num1,
#num5,
#num9,
#num15,
#num21 {
    background-color: #66CC92;
}
