@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ========================Estilizações globais======================= */

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}
html {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
}

body {
  background-color: #b5f873;
}

/* ========================/Estilizações globais======================= */