@import url('./assets/styles/color_pallete.css');

h1{
    text-align: center;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: var(--color-2);
}

.btnJogos{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        border-radius: 5px;
        border: 0;
        font-size: x-large;
        background-color: rgb(201, 201, 201);
    }
    :hover{
        background-color: rgb(177, 177, 177);
        border-radius: 7px;
        border: 0;
    }
}
/* 
.primary {
    --clr-primary-500: #93D6A2;
    --clr-primary-600: #3C5742;
    --clr-primary-700: #5F8A68;
    --clr-primary-900: #82BD8F;
}

.secondary {
    --clr-secondary-500: #D4B4E6;
    --clr-secondary-600: #5E5066;
    --clr-secondary-700: #8D7799;
    --clr-secondary-800: #BC9FCC;
}

.neutralHigh {
    
    --clr-neutral-100: #F0F0F0;
    --clr-neutral-200: #C0C0C0;
    --clr-neutral-300: #D0D0D0;
    --clr-neutral-400: #E0E0E0;
}

.neutralLow {
    
    --clr-neutral-500: #222222;
    --clr-neutral-600: #333333;
    --clr-neutral-700: #474747;
    --clr-neutral-800: #5F5F5F;
}

.info {
    --clr-info-500: #78A2D2;
    --clr-info-600: #2F3F52;
    --clr-info-700: #4C6685;
    --clr-info-800: #698DB8;
}

.success {
    --clr-success-500: #66CC92;
    --clr-success-600: #264D37;
    --clr-success-700: #40805B;
    --clr-success-800: #59B380;
}

.warning {
    --clr-warning-500: #FAC86F;
    --clr-warning-600: #7A6136;
    --clr-warning-700: #AD8A4C;
    --clr-warning-800: #E0B263;
}

.danger {
    --clr-danger-500: #F59A88;
    --clr-danger-600: #DB8B7B;
    --clr-danger-700: #A86B5E;
    --clr-danger-800: #754A42;
} */
