@import url('color_pallete.css');

.about-container {
    background-color: var(--white);
    padding: 50px;
    text-align: center;
  }
  
  .about-container h2 {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 20px;
    font-family: sans-serif;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .about-item {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
  }
  
  .about-image {
    width: 300px;
    margin: 10px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0; /* Garante que a imagem não encolha */
    border-radius: 18px;
    background-color: var(--color-2);
  }
  
  .about-item p {
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--black);
    margin: 0;
  }
  