/* paleta principal */
:root {
    --color-1: #f0f0f0;
    --color-2: #d9d9d9;
    --color-3: #bfbfbf;
    --color-4: #a6a6a6;
    --color-5: #8c8c8c;
    --white: #ffffff;
    --black: #000000;
    --red: #FF0000;
}
