@import url('color_pallete.css');

.contact-container {
    background-color: var(--white);
    padding: 10px 40px 40px 40px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 18px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    /* From https://css.glass */
background: rgba(255, 255, 255, 0.63);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .contact-container h2 {
    font-size: 2rem;
    font-family: sans-serif;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form label {
    font-family: sans-serif;
    margin-bottom: -10px;
    font-size: 1rem;
    color: #555;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    font-family: sans-serif;
    resize: none;
  }
  
  .contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  