.bodyGame {
    height: 100%;
    width: 100%;    
}

.result {
    height: 300px;
    
}

.phrase {
    width: 100%;
    height: 100px;
    p{
        text-align: center;
    }
}

.dropaArea{
    height: 50px;
}
