/* TODO: Separate header and footer into different components */

.header-bar {
  background-color: var(--white);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  /* Adiciona posição fixa */
  position: fixed;

  /* Mantém o cabeçalho acima de outros elementos */
  z-index: 1000;

  /* Fixa o cabeçalho ao topo, à esquerda e à direita, respectivamente */
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar {
  display: flex;
  gap: max(2.5em, 7vw);

  padding: 1em;

  >.logo {
    max-width: 50px;
  }

  >.nav-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
  }

  >.nav-list>.nav-item {
    margin: auto 0;
  }

  >.nav-list>.nav-item>.link {
    color: var(--clr-neutral-500);
    font-weight: var(--fw-bold);
    text-decoration: none;
    text-transform: uppercase;
  }

  >.nav-list>.nav-item>.form-button {
    display: inline-block;

    border-radius: 2em;
    padding: .3em 1em;

    background-color: var(--clr-info-500);

    text-align: center;
  }
}

li:not(:last-child):hover {
  border-bottom: 2.5px solid var(--clr-secondary-500);
  transition: 0.1s ease-in;
}

.footer {
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin: 0 10px;
}

.social-links img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

@media (max-width: 480px) {
  div.head {
    gap: 10px;
  }
}
