/* div.home { */
/*     background-image: url(../src/assets/images/background-home.jpg); */
/* } */

.home {
    margin: 0;
    background-image: url(../src/assets/images/background-home.jpg);
}

.heading-section {
    >.heading {
        background-color: var(--clr-neutral-100);

        padding: 1em;

        color: var(--clr-neutral-500);
        font-size: clamp(var(--fs-600), 5vw, var(--fs-900));
        font-weight: var(--fw-black);
        text-align: center;
    }
}

#start-section,
#games-section,
#about-section,
#contact-section {
    scroll-margin-top: 5rem;
}
