@import url('color_pallete.css');

.home h1{
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    background-color: var(--white);
    padding: 20px;
    height: 100%;
    margin: 0 auto;
}

.home {
    width: 100%;
    min-height: 100vh; 
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column; 
  }
  

body{
    margin: 0;
}

@media (max-width: 768px) {
  
    h1 {
      font-size: 1.5rem; 
      text-align: center; 
    }
  
   
  }
  