*::before,
*,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.wrapper {
  --bg-color: #B1EF73;
  --fg-color-num: #5B8531;
  --container-color-num: #CCFF99;
  --box-color-num: #D9D9D9;

  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
}

.container {
  --max-width: 900px;
  --side-padding: 2rem;

  container-type: inline-size;
  margin: auto;
  width: min(var(--max-width), 100% - var(--side-padding));
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.dropBox {
  background-color: var(--box-color-num);
  border: 2px solid black;
  border-radius: 1em;
  height: 150px;
  margin: auto;
  margin-bottom: 2em;
  max-width: inherit;

  transition: background-color 500ms 100ms ease;

  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--box-color-num), black 20%);
  }
}

.numberGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: center;
}

.numberBox {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--box-color-num);
  border: 2px solid black;
  border-radius: .3em;
  font-size: 2.5rem;
  height: 1.5em;
  width: 1.5em;

  cursor: move;

  transition: background-color 300ms 100ms ease;

  &:hover,
  &:focus {
    background-color: white;
  }
}

@media (max-width: 470px) {
  .numberGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .numberBox:last-child {
    grid-column-start: 2;
    grid-column-end: 3;
  }

}
