.container {
  margin: auto;
  padding: 2rem;
  max-width: 60rem;
}

.container>.heading {
  font-size: var(--fs-500);
  margin-bottom: 1rem;
}

.container>.paragraph {
  font-size: var(--fs-500);
  margin-bottom: 1rem;
}
