*::before,
*,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap-mode: balance;
}

p,
li,
figcaption {
  text-wrap-mode: pretty;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
