.bodyGame {
  font-family: "Comic Neue";
  color: var(--clr-neutral-500);

  height: 100%;
  width: 100%;
  background-color: var(--clr-neutral-100);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background-color: var(--clr-primary-500);
  container-type: inline-size;
  margin: auto;
  padding: 2rem;
  width: min(800px, 95%);
  border-radius: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.60);
}

.container>.heading {
  font-weight: var(--fw-bold);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.container>.paragraph {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dropBox {
  background-color: var(--clr-neutral-200);
  border: 2px solid var(--clr-neutral-600);
  border-radius: 15px;
  height: 150px;
  max-width: inherit;
  margin: auto;
  margin-bottom: 2rem;
  transition-duration: .5s;

  &:hover,
  &:focus {
    background-color: var(--clr-neutral-100);
    transition-duration: .5s;
  }
}

.numberGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
}

.numberBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-200);
  border-radius: 15px;
  border: 2px solid black;
  height: 70px;
  width: 70px;
  transition-duration: .3s;
  font-weight: var(--fw-bold);

  &:hover,
  &:focus {
    background-color: var(--clr-neutral-400);
    transition-duration: .3s;
  }

  >span {
    font-size: 3rem;
  }
}

@container (min-width: calc(70px * 6)) {
  .numberGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
