body {
  background-color: #fffdfd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    100deg,
    #b6d9d4 0%,
    #fff8f8 35%,
    #b6d9d4 100%
  );
  min-height: 95vh; /* Garante que o body tenha uma altura mínima de 100% da viewport */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

/* Container principal do jogo */
.gameContainer {
  width: 500px;
  height: 550px; /* Ajusta a altura automaticamente */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinhamento vertical dos itens */
  align-items: center;
  background-color: #ffffff;
  margin: 60px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  overflow: auto; /* Adiciona rolagem se o conteúdo exceder o tamanho */
  background-image: url("../images/memoria/fundo.jpg");
  background-size: cover; /* Ajusta a imagem de fundo para cobrir o elemento */
  background-position: center; /* Centraliza a imagem de fundo */
}

/* Container para o resultado com sombra */
.resultContainer {
  background: rgba(255, 253, 253, 0.985);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; /* Ajusta a margem inferior para garantir espaço suficiente */
  display: center;
  justify-content: center;
  align-items: center;
}

/* Texto de cartas combinadas */
.result {
  color: #9ab8b1ed;
  font-weight: initial;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Tabuleiro do jogo */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 0; /* Remove o espaço acima do tabuleiro para movê-lo mais para cima */
  margin-bottom: 100px; /* Adiciona espaço abaixo do tabuleiro de cartas */
  padding-top: 20px; /* Adiciona um pouco de espaço interno no topo do tabuleiro */
}

/* Estilo das imagens das cartas */
.board img {
  width: 80px;
  height: 120px;
  margin: 10px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px; /* Ajusta o alinhamento das imagens para cima */
}

/* Estilo para o pop-up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.popupContent {
  background: #fffbfb;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  max-width: 80%;
  max-height: 80%;
  position: relative;
  animation: fadeIn 0.5s ease-out;
  font-size: larger;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Animação para o pop-up */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo do botão de fechar */
#popupClose {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #5e8078;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#popupClose:hover {
  background-color: #c2bcbc;
}

@media (max-width: 480px) {
  .gameContainer {
    width: 90%;
    height: min-content;
    margin-left: 30px;
  }

  .board {
    padding: 0;
    width: 90%;
  }
}
